<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCareAPP"
        tools:targetApi="31">
        <activity
            android:name=".Controller.grooming.Grooming3"
            android:exported="false" />
        <activity
            android:name=".Controller.grooming.Grooming2"
            android:exported="false" />
        <activity
            android:name=".Controller.hewan.DetailHewan"
            android:exported="false" />
        <activity
            android:name=".Controller.paket.ListPaket"
            android:exported="false" />
        <activity
            android:name=".Controller.HomeAdminFragment"
            android:exported="false" />
        <activity
            android:name=".Controller.grooming.Grooming"
            android:exported="true" />
        <activity
            android:name=".Controller.hewan.AddHewan"
            android:exported="false" />
        <activity
            android:name=".Controller.hewan.RecycleViewHewan"
            android:exported="false" />
        <activity
            android:name=".Controller.alamat.AddAlamat"
            android:exported="false" />
        <activity
            android:name=".Controller.alamat.RecycleViewAlamat"
            android:exported="true" />
        <activity
            android:name=".Controller.Home"
            android:exported="false" />
        <activity
            android:name=".Controller.auth.Login"
            android:exported="true" />
        <activity
            android:name=".Controller.auth.Register"
            android:exported="false" />
        <activity
            android:name=".Controller.onboarding.OnBoarding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true" />
    </application>

</manifest>